<div class="text-center">
    <h1 class="text-danger font-weight-bold"><i class="fas fa-user-lock">
    </i> Error 503: Acceso denegado</h1>

    <div class="alert alert-danger" role="alert">
        <h3> Su usuario no tiene privilegios para visualizar esta página.</h3>
        <h6>Contacte con su administrador para más información.</h6>
    </div>

</div>