<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>

        <div class="card-body">
            <mat-form-field class="col-12">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion" maxlength="150" required placeholder="Ingrese descripción de paquete">
                <mat-error *ngIf="hasError( 'descripcion', 'required')">
                    Descripción es requerida.
                </mat-error>
                <mat-error *ngIf="hasError( 'descripcion', 'maxlength')">
                    Descripción debe tener máximo 150 caracteres.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>Número de créditos</mat-label>
                <input type="number" matInput formControlName="nro_unidades" placeholder="Ingrese número de créditos">
                <mat-error *ngIf="hasError( 'nro_unidades', 'required')">
                    Número de créditos es requerido.
                </mat-error>
                <mat-error *ngIf="hasError( 'nro_unidades', 'min')">
                    Valor mínimo para número de créditos es 1.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>Precio de Venta</mat-label>
                <input type="number" matInput formControlName="precio_venta" placeholder="Ingrese precio de venta">
                <mat-error *ngIf="hasError( 'precio_venta', 'required')">
                    Precio de Venta es requerido.
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid===false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
    <!-- <div class="col-sm-12 text-center">
        <div class="btn-group">

        </div>
    </div> -->
</form>