<div>
    <!-- <div class="row">
        <div class="col-12">
            <div class="content-header">Page</div>
            <p class="content-sub-header mb-1">You can define your sub-header here</p>
            <button type="button" class="btn btn-sm btn-info mr-1" (click)="openDialog(content);"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO CHOFER</button>

        </div>
    </div> -->

    <div class="row">
        <div class="col-12">

            <!-- Kick start -->
            <!-- <div id="kick-start" class="card">
                <div class="card-header">
                    <h4 class="card-title">Kick start your project development !</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Getting start with your project custom requirements using a ready template which is quite difficult and time taking process, Apex Admin provides useful features to kick start your project development with no efforts !</p>
                            <h6 class="text-bold-600">Newcomer</h6>
                            <p>If you're new to Angular you may feel overwhelmed by the quantity of new concepts to apprehend, so before digging in this project you may want to start with <a href="https://angular.io/tutorial">this progressive
                tutorial</a> that will guide you step by step into building a complete Angular application.</p>
                            <h6 class="text-bold-600">AngularJS veteran</h6>
                            <p>If you come from AngularJS and want to dig straight in the new version, you may want to take a look at the <a href="https://angular.io/guide/ajs-quick-reference">AngularJS quick reference</a> </p>
                            <h6 class="text-bold-600">Cheatsheet</h6>
                            <p>Until you know the full Angular API by heart, you may want to keep this <a href="https://angular.io/guide/cheatsheet">cheatsheet</a> that resumes the syntax and features on a single page at hand.</p>
                            <h6 class="text-bold-600">Style guide</h6>
                            <p>This project follows the standard <a href="https://angular.io/styleguide">Angular style guide</a>.</p>
                            <p>More than just coding rules, this style guide also gives advices and best practices for a good application architecture and is an **essential reading** for starters. Reading deeper, you can even find many explanations for some
                                design choices of the framework.</p>
                            <h6 class="text-bold-600">Going deeper</h6>
                            <p>Even though they are not mandatory, Angular was designed for the use of design patterns you may not be accustomed to, like reactive programming, unidirectional data flow and centralized state management.</p>
                            <p>These concepts are difficult to resume in a few words, and despite being tightly related to each other they concern specific parts of an application flow, each being quite deep to learn on its own.</p>
                            <p>You will essentially find here a list of good starting points to learn more on these subjects.</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--/ Kick start -->
        </div>
    </div>
</div>

<!--Modal select negocio-->
<!-- <div>
    <ng-template #content let-modal>
        <div class="modal-header bg-info text-white">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
        </div>
        <div class="modal-body">
            <app-seleccionar-negocio></app-seleccionar-negocio>
        </div>
    </ng-template>
</div> -->