<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <mat-form-field class="col-12">
            <mat-label>Stock</mat-label>
            <input type="number" matInput formControlName="stock" required placeholder="Ingrese stock de créditos" (blur)="getCostoUnitario()">
            <mat-error *ngIf="hasError( 'stock', 'required')">
                Stock es requerido
            </mat-error>
            <mat-error *ngIf="hasError( 'stock', 'min')">
                El valor mínimo de stock debe ser 1.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Costo Total</mat-label>
            <input type="number" matInput formControlName="costoTotal" required placeholder="Ingrese costo total" (blur)="getCostoUnitario()">
            <mat-error *ngIf="hasError( 'costoTotal', 'required')">
                Costo Total es requerido
            </mat-error>
            <mat-error *ngIf="hasError( 'costoTotal', 'min')">
                El valor mínimo de costoTotal debe ser 1.
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-form-field class="col-12">
        <mat-label>Costo Unitario</mat-label>
        <input matInput formControlName="costo" required placeholder="Ingrese costo unitario" [readonly]="true">
        <mat-error *ngIf="hasError( 'costo', 'required')">
            Costo Unitario es requerido
        </mat-error>
    </mat-form-field>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
</form>