<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <div class="row">
            <div class="card col-12">
                <div class="card-body">
                    <mat-form-field class="col-12">
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="cantidad" required placeholder="Ingrese cantidad de compra" (blur)="getCostoUnitario()">
                        <mat-error *ngIf="hasError( 'cantidad', 'required')">
                            Cantidad es requerida
                        </mat-error>
                        <mat-error *ngIf="hasError( 'cantidad', 'min')">
                            Cantidad debe tener el valor mínimo de 1.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Total</mat-label>
                        <input matInput formControlName="total" required placeholder="Ingrese total de compra" (blur)="getCostoUnitario()">
                        <mat-error *ngIf="hasError( 'total', 'required')">
                            Total es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'total', 'maxlength')">
                            Total debe tener el valor mínimo de 0,1.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Costo</mat-label>
                        <input matInput formControlName="costo" required placeholder="Ingrese costo unitario" [readonly]="true">
                        <mat-error *ngIf="hasError( 'costo', 'required')">
                            Costo es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'costo', 'maxlength')">
                            Costo debe tener el valor mínimo de 0,1.
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button *ngIf="accion === 's'" type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
    <!-- <div class="form-group row">
        <label for="inputNombre" class="col-sm-4 col-form-label" [ngClass]="{ 'text-danger':!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)}">nombre:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputNombre" formControlName="nombre" [maxlength]="100">
            <small class="form-text text-danger" *ngIf="!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)">
                    Ingrese nombre de negocio
                </small>
        </div>
    </div> -->
</form>