<ng-container *ngIf="_PERMISO.isAuthorized.state === true; then showHtmlPage; else showHtmlError">
</ng-container>
<ng-template #showHtmlPage>
    <div class="pages">
        <div class="container-fluid">
            <div class="card">
                <div class="row card-header card-header-info">
                    <h3 class="card-title text-info"><i class="fas fa-shopping-cart"></i> ADMINISTRACIÓN DE VENTAS</h3>
                </div>
                <div *ngIf="negocioKey !== null && negocioValueSesion !==null">
                    <div class="card-body">
                        <div class="btn-group">
                            <button *ngIf="_PERMISO.isAuthCreate.state === true" type="button" class="btn btn-sm btn-info mb-1 mr-1" (click)="actionCreate('c')"><i class="fa fa-plus" aria-hidden="true"></i> NUEVA VENTA</button>
                            <ng-container *ngIf="_PERMISO.isAuthSearch.state === true; then showHtmlSearch">
                            </ng-container>
                            <ng-template #showHtmlSearch>
                                <button *ngIf="isBusquedaActiva === false" type="button" class="btn btn-sm btn-primary mb-1 mr-1" (click)="actionViewFormSearch()"><i class="fas fa-search"></i> BUSCAR VENTAS</button>
                                <button *ngIf="isBusquedaActiva === true" type="button" class="btn btn-sm btn btn-outline-primary mb-1 mr-1" (click)="actionHideFormSearch()"><i class="fas fa-ban"></i> FINALIZAR BÚSQUEDA</button>
                            </ng-template>
                        </div>
                    </div>

                    <!-- Formulario de búsqueda -->
                    <div *ngIf="isBusquedaActiva===true" class="searchCard card-body bg-light-primary">
                        <form [formGroup]="searchForm" (keydown.enter)="$event.preventDefault()" class="row">
                            <div class="col-12 row">
                                <div class="col-12">
                                    <p>
                                        <small class="text-primary mb-1">Seleccione un criterio de búsqueda</small>
                                    </p>
                                    <p>
                                        <mat-radio-group (change)="actionRadioChange($event)" aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="campoBusqueda">
                                            <mat-radio-button class="example-radio-button mr-1" *ngFor="let c of listaCamposBusqueda" [value]="c.id">
                                                {{c.value}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </p>
                                </div>
                                <div class="col-12 row">
                                    <ng-container *ngIf="isVisibleFecha === false; then otherField; else fechaField">
                                    </ng-container>
                                    <ng-template #fechaField>
                                        <div class="col-md-4 col-sm-6">
                                            <mat-form-field appearance="fill" class="input-full-width">
                                                <mat-label>Fecha Inicial</mat-label>
                                                <input matInput [matDatepicker]="picker1" [formControl]="fechaInicioField" [min]="minDate" [max]="currentDay">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                                <mat-error *ngIf="hasError( 'inicio', 'required')">
                                                    Verifique Fecha Inicial.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <mat-form-field appearance="fill" class="input-full-width">
                                                <mat-label>Fecha Final</mat-label>
                                                <input matInput [matDatepicker]="picker2" [formControl]="fechaFinField" [min]="minDate" [max]="currentDay">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                                <mat-error *ngIf="hasError( 'fin', 'required')">
                                                    Verifique Fecha Final.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </ng-template>
                                    <ng-template #otherField>
                                        <ng-container *ngIf="isVisiblePaquete === false; then cliField; else paqField">
                                        </ng-container>
                                        <ng-template #paqField>
                                            <mat-form-field class="col-6 col-md-6 col-sm-12">
                                                <mat-label>Seleccione un paquete</mat-label>
                                                <mat-select formControlName="paquete">
                                                    <mat-option>--</mat-option>
                                                    <mat-option *ngFor="let paq of listaPaquetes" [value]="paq.id">{{ paq.descripcion }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="hasError( 'paquete', 'required')">
                                                    Seleccione un paquete.
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-template>
                                        <ng-template #cliField>
                                            <mat-form-field class="col-6 col-md-6 col-sm-12">
                                                <mat-label>Cliente</mat-label>
                                                <input type="text" placeholder="Seleccione un cliente" matInput [formControl]="clienteField" [matAutocomplete]="clienteRef" (blur)="blurCliente()" [maxlength]="100" required>
                                                <mat-autocomplete (closed)="closedCliente()" #clienteRef="matAutocomplete" [displayWith]="displayCliente">
                                                    <mat-option *ngFor="let c of filteredClientes | async" [value]="c">
                                                        {{c.usuario_credito}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="hasError( 'cliente', 'required')">
                                                    Seleccione un cliente.
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-template>
                                    </ng-template>
                                </div>

                                <div class="col-12">
                                    <p class="row">
                                        <mat-checkbox class="col-md-3 col-sm-6" formControlName="visualizar" color="primary" (change)="actionChange($event.checked,'v')">
                                            Visualizar resultados</mat-checkbox>
                                        <mat-checkbox class="col-md-3 col-sm-6" formControlName="descargar" color="primary" (change)="actionChange($event.checked,'d')">
                                            Descargar archivo</mat-checkbox>
                                    </p>
                                    <div ngbDropdown #myDrop1="ngbDropdown">
                                        <button *ngIf="isDescargar === true" class="btn btn-sm btn-primary mb-2 mr-1" id="dropdownMenu2" ngbDropdownToggle>
                                        <i class="fas fa-download"></i> Descargar archivo
                                    </button>
                                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" (click)="actionSearch('e')"><i class="fas fa-file-excel text-success"></i> Excel</button>
                                            <button class="dropdown-item" (click)="actionSearch('p')"><i class="fas fa-file-pdf text-danger"></i> Pdf</button>
                                        </div>
                                    </div>
                                    <p>
                                        <button *ngIf="isVisualizar === true" type="button" class="btn btn-sm btn-primary mb-2 mr-1" (click)="actionSearch()"><i class="fas fa-search"></i> Ver Resultados</button>
                                        <!-- <button *ngIf="isDescargar === true" type="button" class="btn btn-sm btn-primary mb-2 mr-1" (click)="actionSearch()"><i class="fas fa-download"></i> DESCARGAR</button> -->
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive mat-elevation-z8" *ngIf="_PERMISO.isAuthRead.state === true">
                            <table class="tablaDatos" mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="userCliente">
                                    <th mat-header-cell *matHeaderCellDef> Cliente </th>
                                    <td mat-cell *matCellDef="let element"> {{element.userCliente}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nombreVendedor">
                                    <th mat-header-cell *matHeaderCellDef> Vendedor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombreVendedor}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nombrePaquete">
                                    <th mat-header-cell *matHeaderCellDef> Paquete </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombrePaquete}} </td>
                                </ng-container>
                                <ng-container matColumnDef="tfp_id">
                                    <th mat-header-cell *matHeaderCellDef> Cuenta Pago</th>
                                    <td mat-cell *matCellDef="let element"> {{element.tfp_id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fp_id">
                                    <th mat-header-cell *matHeaderCellDef> Medio Pago</th>
                                    <td mat-cell *matCellDef="let element"> {{element.fp_id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fecha_registro">
                                    <th mat-header-cell *matHeaderCellDef> Fecha Registro</th>
                                    <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} </td>
                                </ng-container>
                                <ng-container matColumnDef="cantidad">
                                    <th mat-header-cell *matHeaderCellDef> Cantidad</th>
                                    <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                                </ng-container>
                                <ng-container matColumnDef="bonificacion">
                                    <th mat-header-cell *matHeaderCellDef> Bonificacion</th>
                                    <td mat-cell *matCellDef="let element"> {{element.bonificacion}} </td>
                                </ng-container>
                                <ng-container matColumnDef="total_det">
                                    <th mat-header-cell *matHeaderCellDef> Total</th>
                                    <td mat-cell *matCellDef="let element"> {{element.total_det}} </td>
                                </ng-container>
                                <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let element">
                                        <p *ngIf="element.estado === 'A'" class="text-success">
                                            <i class="fa fa-check fa-xs" aria-hidden="true"></i> {{ listaEstados[0] }}
                                        </p>
                                        <p *ngIf="element.estado === 'I'" class="text-warning">
                                            <i class="fas fa-ban"></i> {{ listaEstados[1] }}
                                        </p>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef [ngClass]="ocultarColumnaAcciones()"> Acciones </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="ocultarColumnaAcciones()">
                                        <ng-container *ngIf="_PERMISO.isAuthDesactivate.state === true; then showHtmlStatus">
                                        </ng-container>
                                        <ng-template #showHtmlStatus>
                                            <button *ngIf="element.estado === 'I'" mat-raised-button type="button" matTooltip="Activar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                                <i class="fas fa-toggle-off"></i>
                                        </button>
                                            <button *ngIf="element.estado === 'A'" mat-raised-button type="button" matTooltip="Desactivar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                                <i class="fas fa-toggle-on"></i>
                                        </button>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="dataSource.data.length === 0" class="gen-mensaje-no-data-tabla">No existen compras.</div>
                    <div *ngIf="dataSource.filteredData.length === 0 && dataSource.data.length !== 0" class="gen-mensaje-no-data-tabla">No existen compras.</div>
                </div>
                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #showHtmlError>
    <app-error-access></app-error-access>
</ng-template>