<div class="pages">
    <div class="container-fluid">
        <div class="card">
            <div class="row card-header card-header-info">
                <h3 class="card-title"><i class="fas fa-pallet"></i> LISTA DE MOVIMIENTOS</h3>
            </div>
            <div *ngIf="negocioKey !== null && negocioValueSesion !==null">
                <div class="card-body">
                    <div class="btn-group">
                        <button *ngIf="isRecalculoActivo === false" type="button" class="btn btn-sm btn-info mb-1 mr-1" (click)="actionViewFormRecalculo()"><i class="fas fa-calculator"></i> RECÁLCULO DE STOCKS</button>
                        <button *ngIf="isRecalculoActivo === true" type="button" class="btn btn-sm btn-outline-info mb-1 mr-1" (click)="actionHideFormRecalculo()"><i class="fas fa-ban"></i> RECÁLCULO DE STOCKS</button>
                        <button *ngIf="isBusquedaActiva === false" type="button" class="btn btn-sm btn-primary mb-1 mr-1" (click)="actionViewFormSearch()"><i class="fas fa-search"></i> BUSCAR MOVIMIENTOS</button>
                        <button *ngIf="isBusquedaActiva === true" type="button" class="btn btn-sm btn-outline-primary mb-1 mr-1" (click)="actionHideFormSearch()"><i class="fas fa-ban"></i> FINALIZAR BÚSQUEDA</button>
                    </div>
                </div>

                <!-- Formulario de búsqueda -->
                <div *ngIf="isBusquedaActiva===true" class="searchCard card-body bg-light-primary">
                    <form [formGroup]="searchForm" (keydown.enter)="$event.preventDefault()" class="row">
                        <div class="col-12 row">
                            <div class="col-12">
                                <p>
                                    <small class="text-primary mb-1">Seleccione un criterio de búsqueda</small>
                                </p>
                                <p>
                                    <mat-radio-group (change)="actionRadioChange($event)" aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="campoBusqueda">
                                        <mat-radio-button class="example-radio-button mr-1" *ngFor="let c of listaCamposBusqueda" [value]="c.id">
                                            {{c.value}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </p>
                            </div>
                            <div class="col-12 row">
                                <ng-container *ngIf="isVisibleFecha === false; then otherField; else fechaField">
                                </ng-container>
                                <ng-template #fechaField>
                                    <div class="col-md-4 col-sm-6">
                                        <mat-form-field appearance="fill" class="input-full-width">
                                            <mat-label>Fecha Inicial</mat-label>
                                            <input matInput [matDatepicker]="picker1" [formControl]="fechaInicioField" [min]="minDate" [max]="currentDay">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-error *ngIf="hasError( 'inicio', 'required')">
                                                Verifique Fecha Inicial.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <mat-form-field appearance="fill" class="input-full-width">
                                            <mat-label>Fecha Final</mat-label>
                                            <input matInput [matDatepicker]="picker2" [formControl]="fechaFinField" [min]="minDate" [max]="currentDay">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                            <mat-error *ngIf="hasError( 'fin', 'required')">
                                                Verifique Fecha Final.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </ng-template>
                                <ng-template #otherField>
                                    <mat-form-field class="col-6 col-md-4 col-sm-12">
                                        <mat-label>Seleccione un tipo de movimiento</mat-label>
                                        <mat-select formControlName="mov">
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let m of listaMovimientos" [value]="m.id">{{ m.value }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError( 'mov', 'required')">
                                            Seleccione un movimiento
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </div>

                            <div class="col-12">
                                <p class="row">
                                    <mat-checkbox class="col-md-3 col-sm-6" formControlName="visualizar" color="primary" (change)="actionChange($event.checked,'v')">
                                        Visualizar resultados</mat-checkbox>
                                    <mat-checkbox class="col-md-3 col-sm-6" formControlName="descargar" color="primary" (change)="actionChange($event.checked,'d')">
                                        Descargar archivo</mat-checkbox>
                                </p>
                                <div ngbDropdown #myDrop1="ngbDropdown">
                                    <button *ngIf="isDescargar === true" class="btn btn-sm btn-primary mb-2 mr-1" id="dropdownMenu2" ngbDropdownToggle>
                                        <i class="fas fa-download"></i> Descargar archivo
                                    </button>
                                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item" (click)="actionSearch('e')"><i class="fas fa-file-excel text-success"></i> Excel</button>
                                        <button class="dropdown-item" (click)="actionSearch('p')"><i class="fas fa-file-pdf text-danger"></i> Pdf</button>
                                    </div>
                                </div>
                                <p>
                                    <button *ngIf="isVisualizar === true" type="button" class="btn btn-sm btn-primary mb-2 mr-1" (click)="actionSearch()"><i class="fas fa-search"></i> Ver Resultados</button>
                                    <!-- <button *ngIf="isDescargar === true" type="button" class="btn btn-sm btn-primary mb-2 mr-1" (click)="actionSearch()"><i class="fas fa-download"></i> DESCARGAR</button> -->
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <!--FIN  Formulario de búsqueda -->

                <!-- Formulario de recálculo -->
                <div *ngIf="isRecalculoActivo===true" class="recalculoCard card-body bg-light-info">
                    <form [formGroup]="recalculoForm" (keydown.enter)="$event.preventDefault()" class="row">
                        <div class="col-12 row">
                            <div class="col-12 row">
                                <div class="col-md-4 col-sm-6">
                                    <mat-form-field appearance="fill" class="input-full-width">
                                        <mat-label>Fecha Inicial</mat-label>
                                        <input matInput [matDatepicker]="picker1" [formControl]="fechaRecalculoField" [min]="minDate" [max]="currentDay">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="hasErrorRecalculoForm( 'fechaInicio', 'required')">
                                            Verifique Fecha Inicial.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-12">
                                <p>
                                    <button type="button" class="btn btn-sm btn-info mb-2 mr-1" (click)="actionRecalculo()"><i class="fas fa-calculator"></i> Recalcular stocks</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <!--FIN  Formulario de recálculo -->
                <div class="card-body">
                    <div class="table-responsive mat-elevation-z8">
                        <table class="tablaDatos" mat-table [dataSource]="dataSource">
                            <!-- <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container> -->
                            <ng-container matColumnDef="fechaRegistro">
                                <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                                <td mat-cell *matCellDef="let element"> {{ element.fechaRegistro }} </td>
                            </ng-container>
                            <ng-container matColumnDef="cantidad">
                                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'bg-light-success': element.movimirnto === 'C'}"> {{ element.cantidad }} </td>
                            </ng-container>
                            <ng-container matColumnDef="stock">
                                <th mat-header-cell *matHeaderCellDef> Stock</th>
                                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                            </ng-container>
                            <ng-container matColumnDef="costo">
                                <th mat-header-cell *matHeaderCellDef> Costo</th>
                                <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
                            </ng-container>
                            <ng-container matColumnDef="total_detalle">
                                <th mat-header-cell *matHeaderCellDef> Total</th>
                                <td mat-cell *matCellDef="let element"> {{element.total_detalle}} </td>
                            </ng-container>
                            <ng-container matColumnDef="movimiento">
                                <th mat-header-cell *matHeaderCellDef> Movimiento</th>
                                <td mat-cell *matCellDef="let element"> {{element.movimiento}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element">
                                    <p *ngIf="element.estado === 'A'" class="text-success">
                                        <i class="fa fa-check fa-xs" aria-hidden="true"></i> {{ listaEstados[0] }}
                                    </p>
                                    <p *ngIf="element.estado === 'I'" class="text-warning">
                                        <i class="fas fa-ban"></i> {{ listaEstados[1] }}
                                    </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button type="button" matTooltip="Ver Origen" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="actionShow(element.id, element.movimiento)"><i class="fas fa-eye"></i></button>
                                    <!-- <button *ngIf="element.estado === 'I'" mat-raised-button type="button" matTooltip="Activar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                        <i class="fas fa-toggle-off"></i>
                                        </button>
                                        <button *ngIf="element.estado === 'A'" mat-raised-button type="button" matTooltip="Desactivar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                <i class="fas fa-toggle-on"></i>
                          </button> -->
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="dataSource.data.length === 0" class="gen-mensaje-no-data-tabla">No existen compras.</div>
                <div *ngIf="dataSource.filteredData.length === 0 && dataSource.data.length !== 0" class="gen-mensaje-no-data-tabla">No existen compras.</div>
            </div>
            <mat-paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>
</div>