<ng-container *ngIf="_PERMISO.isAuthorized.state === true; then showHtmlPage; else showHtmlError">
</ng-container>
<ng-template #showHtmlPage>
    <div class="pages">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-info">
                    <h3 class="card-title text-info"><i class="fas fa-box-open"></i> ADMINISTRACIÓN DE PRODUCTOS </h3>
                </div>

                <ng-container *ngIf="negocioKeySesion !== null && negocioValueSesion !==null;then content else other_content">
                </ng-container>
                <ng-template #content>
                    <!-- COMPROBACIÓN DE LISTA DE PRODUCTOS -->
                    <ng-container *ngIf="!isVaciaListaProd;then llenaProd else vaciaProd">
                    </ng-container>
                    <!-- LISTA VACIA DE PRODUCTOS -->
                    <ng-template #vaciaProd>
                        <div class="card-body bg-light-warning">
                            <h3 class="text-warning text-center">
                                <i class="fas fa-exclamation-triangle"></i> Debe parametrizar los valores iniciales de créditos.
                            </h3>
                            <div class="row">
                                <div class="offset-md-4 col-4">
                                    <button *ngIf="_PERMISO.isAuthParam.state === true" class="btn btn-primary btn-sm" (click)="actionParametrizar()"><i class="fas fa-edit"></i> Parametrizar datos iniciales de créditos</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!-- LISTA LLENA DE PRODUCTOS -->
                    <ng-template #llenaProd>
                        <div class="card-body" *ngIf="_PERMISO.isAuthRead.state === true">
                            <!-- <mat-accordion class="example-headers-align" multi> -->
                            <form [formGroup]="form">
                                <mat-expansion-panel [expanded]="true" [hideToggle]="false" class="expansion-panel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h3 class="text-info font-weight-bold">Información de Créditos</h3>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="card-body bg-light-info text-center">
                                                <h4 class="text-info"><i class="fas fa-cash-register"></i> COSTO UNITARIO</h4>
                                                <h3 class="badge badge-pill badge-info">{{form.controls.costo.value}}</h3>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card-body bg-light-info text-center">
                                                <h4 class="text-info"><i class="fas fa-clipboard-check"></i> STOCK</h4>
                                                <h3 class="badge badge-pill badge-info">{{form.controls.stock.value}}</h3>
                                            </div>
                                            <p>
                                                <mat-form-field appearance="outline" [hidden]="true">
                                                    <mat-label></mat-label>
                                                    <input matInput placeholder="Placeholder" formControlName="stock">
                                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                                    <mat-hint>Hint</mat-hint>
                                                </mat-form-field>
                                            </p>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </form>
                            <!-- </mat-accordion> -->
                        </div>

                        <ng-container *ngIf="!isVaciaListaPaq;then llenaPaq else vaciaPaq">
                        </ng-container>
                        <ng-template #vaciaPaq>lista vacia paquetes</ng-template>
                        <ng-template #llenaPaq>
                            <div class="card-body">
                                <form [formGroup]="formPaq">
                                    <h3 class="text-info font-weight-bold">Lista de paquetes de créditos</h3>
                                    <div class="header row">
                                        <div>
                                            <button *ngIf="_PERMISO.isAuthCreate.state === true" type="button" class="btn btn-sm btn-info mb-3 mr-1" (click)="actionCreate('c')"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO PAQUETE DE CRÉDITOS</button>
                                            <!--<button type="button" class="btn btn-sm btn-warning mb-3 mr-1" (click)="actionCargaMasiva()"><i class="ft-upload"></i> CARGA MASIVA </button>
                                    <button *ngIf="isBusquedaActiva===f alse" type="button" class="btn btn-sm btn-primary mb-3 mr-1" (click)="actionViewFormSearch()"><i class="fas fa-search"></i> BUSCAR CLIENTES</button>
                                    <button *ngIf="isBusquedaActiva===t rue" type="button" class="btn btn-sm btn btn-outline-primary mb-3 mr-1" (click)="actionHideFormSearch()"><i class="fas fa-ban"></i> FINALIZAR BÚSQUEDA</button> -->
                                        </div>
                                    </div>
                                    <div>
                                        <p>
                                            <mat-form-field appearance="outline" [hidden]="true">
                                                <mat-label></mat-label>
                                                <input matInput placeholder="Placeholder" formControlName="cantidad">
                                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                                <mat-hint>Hint</mat-hint>
                                            </mat-form-field>
                                        </p>
                                        <div class="row" *ngIf="_PERMISO.isAuthRead.state === true">
                                            <div class="col-3" *ngFor="let p of listaPaquetes">
                                                <div class="card border border-info rounded border-3">
                                                    <div class="card-header container-fluid text-white" [ngClass]="{'bg-info': p.estado === 'A', 'bg-secondary': p.estado === 'I' }">
                                                        <div class="d-flex align-items-center">

                                                            <h3 class="mr-auto p-1 text-white font-weight-bold">{{ p.descripcion |uppercase}}</h3>
                                                            <div class="btn-group" role="group">
                                                                <ng-container *ngIf="_PERMISO.isAuthDesactivate.state === true; then showHtmlStatus">
                                                                </ng-container>
                                                                <ng-template #showHtmlStatus>
                                                                    <button *ngIf="p.estado === 'I'" mat-raised-button type="button" matTooltip="Activar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-white float-right" (click)="cambiarEstado(p)">
                                                                            <i class="fas fa-toggle-off"></i>
                                                                    </button>
                                                                    <button *ngIf="p.estado === 'A'" mat-raised-button type="button" matTooltip="Desactivar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-white float-right" (click)="cambiarEstado(p)">
                                                                            <i class="fas fa-toggle-on"></i>
                                                                    </button>
                                                                </ng-template>
                                                                <button *ngIf="_PERMISO.isAuthUpdate.state === true" mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-white" style="margin-left: 1em" (click)="actionCreate('u',p);">
                                                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                                            </button>
                                                            </div>
                                                            <!-- <button class="btn btn-primary" (click)="onAddCategoieModal(addCategorieModal)">Add</button>
                                                        <button class="btn btn-primary" style="margin-left: 1em" (click)="onAddCategoieModal(content)">Edit</button> -->
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <!-- <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5> -->
                                                        <h4 *ngIf="p.estado==='A'" class="card-subtitle badge badge-pill badge-success text-center">
                                                            <i class="fa fa-check fa-xs" aria-hidden="true"></i> {{ listaEstados[0] }}
                                                        </h4>
                                                        <h4 *ngIf="p.estado==='I'" class="card-subtitle badge badge-pill badge-warning text-center">
                                                            <i class="fas fa-ban"></i> {{ listaEstados[1] }}
                                                        </h4>
                                                        <h4 class="card-text">
                                                            <small class="font-weight-bold">NRO CRÉDITOS: </small> {{ p.nro_unidades }}
                                                        </h4>
                                                        <h4 class="card-text">
                                                            <small class="font-weight-bold">PRECIO VENTA: </small> {{ p.precio_venta }}</h4>
                                                        <!-- <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </ng-template>
                    </ng-template>
                </ng-template>
                <ng-template #other_content>
                    <div class="card-body bg-light-warning ">
                        <h3 class="text-warning text-center ">
                            <i class="fas fa-exclamation-triangle ">
                    </i> Debe seleccionar un negocio para utilizar las funciones de gestión de productos
                        </h3>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #showHtmlError>
    <app-error-access></app-error-access>
</ng-template>