<div>
    <h2 class="text-success text-center font-weight-bold">
        {{title}}</h2>
    <mat-dialog-content>
        <div class="alert bg-light-warning text-center" role="alert">
            <h4><i class="fas fa-mask"></i> Evite suplantación de identidad!</h4>
            <p>Por favor no comparta las credenciales de usuario con personas ajenas a su organización.</p>
        </div>
        <div class="card text-center mb-3 border border-info rounded border-3">
            <div class="card-body">
                <h3 class="text-info font-weight-bold">Envíe las siguientes credenciales a su colaborador:
                </h3>
                <button class="btn btn-sm btn-primary text-white" [cdkCopyToClipboard]="credenciales"><i class="far fa-clone"></i> Copiar</button>
                <p></p>
                <textarea cols="30" rows="4" [value]="credenciales"></textarea>
            </div>
        </div>
        <!-- <textarea cols="30" rows="10" disabled [value]="credenciales"></textarea> -->
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
</div>