<div [formGroup]="form">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <p *ngIf="isActivar === true">{{ subtextoActivar }}</p>
    <div class="alert bg-light-info" role="alert">
        <h4><i class="fas fa-info-circle"></i> Su nueva contraseña debe tener las siguientes características:</h4>

        <ul>
            <li><small>Debe tener una longitud mínima de <b>8 caracteres</b> y una longitud máxima de <b>16 caracteres</b>.</small>
            </li>
            <li>
                <small>Debe contener al menos <b>una letra mayúscula</b>.</small>
            </li>
            <li>
                <small>Debe contener al menos <b>una letra minúscula</b>.</small>
            </li>
            <li>
                <small>Debe contener al menos <b>un número</b>.</small>
            </li>
            <li>
                <small>Debe contener al menos <b>un caracter especial</b>.</small>
            </li>
        </ul>
    </div>
    <mat-dialog-content>
        <mat-form-field class="col-12">
            <mat-label>Contraseña Actual</mat-label>
            <input [type]="hidePassOld ? 'password' : 'text'" matInput formControlName="passOld" [maxlength]="8" [maxlength]="16" required placeholder="Ingrese su contraseña actual">
            <mat-icon matSuffix (click)="hidePassOld = !hidePassOld">{{hidePassOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="hasError( 'passOld', 'required')">
                Contraseña Actual es requerida
            </mat-error>
            <mat-error *ngIf="hasError( 'passOld', 'maxlength')">
                Ingrese máximo 16 caracteres.
            </mat-error>
            <mat-error *ngIf="hasError( 'passOld', 'minlength')">
                Ingrese al menos 8 caracteres.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Nueva Contraseña</mat-label>
            <input [type]="hidePassNew ? 'password' : 'text'" matInput formControlName="passNew" [maxlength]="8" [maxlength]="16" required placeholder="Ingrese su nueva contraseña">
            <mat-icon matSuffix (click)="hidePassNew = !hidePassNew">{{hidePassNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="hasError( 'passNew', 'required')">
                Nueva Contraseña es requerida
            </mat-error>
            <mat-error *ngIf="hasError( 'passNew', 'maxlength')">
                Ingrese máximo 16 caracteres.
            </mat-error>
            <mat-error *ngIf="hasError( 'passNew', 'minlength')">
                Ingrese al menos 8 caracteres.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Confirmación nueva contraseña</mat-label>
            <input [type]="hidePassNewConfirm ? 'password' : 'text'" matInput formControlName="passNewConfirm" [maxlength]="8" [maxlength]="16" required placeholder="Confirme su nueva contraseña">
            <mat-icon matSuffix (click)="hidePassNewConfirm = !hidePassNewConfirm">{{hidePassNewConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="hasError( 'passNewConfirm', 'required')">
                Confirmación de contraseña es requerida
            </mat-error>
            <mat-error *ngIf="hasError( 'passNewConfirm', 'maxlength')">
                Ingrese máximo 16 cara cteres.
            </mat-error>
            <mat-error *ngIf="hasError( 'passNewConfirm', 'minlength')">
                Ingrese al menos 8 caracteres.
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir('NOACTION')">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
</div>