<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <div class="row">
            <div class="card col-12">
                <div class="card-body">
                    <ng-container *ngIf="isShowAction === true ;then clientShow else clientCreate">
                    </ng-container>
                    <ng-template #clientCreate>
                        <mat-form-field class="col-6 col-md-6 col-sm-12">
                            <mat-label>Cliente</mat-label>
                            <input type="text" placeholder="Seleccione un cliente" matInput [formControl]="clienteField" [matAutocomplete]="clienteRef" (blur)="blurCliente()" [maxlength]="100" required>
                            <mat-autocomplete (closed)="closedCliente()" #clienteRef="matAutocomplete" [displayWith]="displayCliente">
                                <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente">
                                    {{cliente.usuario_credito}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>{{ showInfoSelectedClient() }}</mat-hint>
                            <mat-error *ngIf="hasError( 'cli_id', 'required')">
                                Seleccione un cliente.
                            </mat-error>
                        </mat-form-field>
                    </ng-template>
                    <ng-template #clientShow>
                        <mat-form-field class="col-6 col-md-6 col-sm-12">
                            <mat-label>Cliente</mat-label>
                            <input matInput type="text" disabled [value]="ventaSelected.userCliente">
                        </mat-form-field>
                    </ng-template>

                    <mat-form-field class="col-6 col-md-6 col-sm-12">
                        <mat-label>Forma de pago</mat-label>
                        <mat-select formControlName="tfp_id" #tipo (selectionChange)="getFormaPago(tipo.value)">
                            <mat-option *ngFor="let tipo of listaTipoFPagoEncontrados" [value]="tipo.id">{{ tipo.nombre }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError( 'tfp_id', 'required')">
                            Seleccione Forma de pago.
                        </mat-error>
                    </mat-form-field>
                    <ng-container *ngIf="isUserVendedor === true; then showInputVendor; else showSelectVendor">
                    </ng-container>
                    <ng-template #showInputVendor>
                        <mat-form-field class="col-6 col-md-6 col-sm-12">
                            <mat-label>Vendedor</mat-label>
                            <input type="text" matInput readonly [value]="nombresUserVendedor">
                            <mat-error *ngIf="hasError( 'vend_id', 'required')">
                                Seleccione un vendedor.
                            </mat-error>
                        </mat-form-field>
                    </ng-template>
                    <ng-template #showSelectVendor>
                        <mat-form-field class="col-6 col-md-6 col-sm-12">
                            <mat-label>Vendedor</mat-label>
                            <mat-select formControlName="vend_id">
                                <mat-option *ngFor="let vend of listaVendedoresEncontrados" [value]="vend.idVendedor">{{ vend.nombres +' '+ vend.apellidos }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError( 'vend_id', 'required')">
                                Seleccione un vendedor.
                            </mat-error>
                        </mat-form-field>
                    </ng-template>
                    <mat-form-field class="col-6 col-md-6 col-sm-12">
                        <mat-label>Cuenta</mat-label>
                        <mat-select formControlName="fp_id">
                            <mat-option *ngFor="let cuenta of listaFormaPagoEncontrados" [value]="cuenta.id">
                                {{ cuenta.numero +' - '+ cuenta.nombres_titular+ ' ' + cuenta.apellidos_titular }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError( 'fp_id', 'required')">
                            Seleccione Cuenta.
                        </mat-error>
                    </mat-form-field>

                </div>
                <mat-divider></mat-divider>
                <div class="card-body mt-2 mb-0 pb-0">
                    <div class="table-responsive mb-0">
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <!-- <th scope="col">#</th> -->
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Paquete</th>
                                    <th scope="col">V. Unitario</th>
                                    <!-- <th scope="col">Bonificación</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <th scope="row">1</th> -->
                                    <td>
                                        <mat-form-field>
                                            <!-- <mat-label>C</mat-label> -->
                                            <input matInput type="number" placeholder="Ingrese un número" formControlName="cantidad" min="1" (blur)="getCalculo()">
                                            <mat-error *ngIf="hasError( 'cantidad', 'required')">
                                                Cantidad es requerida.
                                            </mat-error>
                                            <mat-error *ngIf="hasError( 'cantidad', 'min')">
                                                Cantidad debe tener el valor mínimo de 1.
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Seleccione un paquete</mat-label>
                                            <mat-select formControlName="paq_id" #paq (selectionChange)="getCalculo()">
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let paq of listaPaquetesEncontrados" [value]="paq.id">{{ paq.descripcion }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="hasError( 'paq_id', 'required')">
                                                Seleccione un paquete.
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <!-- <mat-label>C</mat-label> -->
                                            <input matInput type="number" placeholder="Seleccione un paquete" formControlName="valorUnitario" [readonly]="true" min="0">
                                            <mat-error *ngIf="hasError( 'valorUnitario', 'required')">
                                                Valor Paquete es requerida.
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox class="example-margin" (change)="verPromocion($event.checked)" color="primary" [disabled]="isShowAction === true" [checked]="isCheckedPromocion === true">
                                            Cantidad Promocional
                                        </mat-checkbox>
                                    </td>
                                    <td *ngIf="isVisiblePromocion === true">
                                        <mat-form-field>
                                            <!-- <mat-label>C</mat-label> -->
                                            <input matInput type="number" placeholder="Ingrese un número" formControlName="bonificacion" min="0">
                                            <mat-error *ngIf="hasError( 'bonificacion', 'required')">
                                                Bonificación es requerida.
                                            </mat-error>
                                            <mat-error *ngIf="hasError( 'bonificacion', 'min')">
                                                Bonificación debe tener el valor mínimo de 0.
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td></td>
                                <td class="align-middle text-center table-info">
                                    <p class="text-info font-weight-bold">Valor Total Venta</p>
                                </td>

                                <td class="table-info">
                                    <mat-form-field>
                                        <!-- <mat-label>C</mat-label> -->
                                        <input matInput type="number" formControlName="total_det" [readonly]="true" min="0" class="text-info font-weight-bold">
                                        <mat-error *ngIf="hasError( 'total_det', 'required')">
                                            Valor Paquete es requerida.
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                    <!-- <mat-form-field class="col-12">
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="cantidad" required placeholder="Ingrese cantidad de compra" (blur)="getCostoUnitario()">
                        <mat-error *ngIf="hasError( 'cantidad', 'required')">
                            Cantidad es requerida
                        </mat-error>
                        <mat-error *ngIf="hasError( 'cantidad', 'min')">
                            Cantidad debe tener el valor mínimo de 1.
                        </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-12">
                            <mat-label>Total</mat-label>
                            <input matInput formControlName="total" required placeholder="Ingrese total de compra" (blur)="getCostoUnitario()">
                            <mat-error *ngIf="hasError( 'total', 'required')">
                                Total es requerido
                            </mat-error>
                            <mat-error *ngIf="hasError( 'total', 'maxlength')">
                                Total debe tener el valor mínimo de 0,1.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-12">
                            <mat-label>Costo</mat-label>
                            <input matInput formControlName="costo" required placeholder="Ingrese costo unitario" [readonly]="true">
                            <mat-error *ngIf="hasError( 'costo', 'required')">
                                Costo es requerido
                            </mat-error>
                            <mat-error *ngIf="hasError( 'costo', 'maxlength')">
                                Costo debe tener el valor mínimo de 0,1.
                            </mat-error>
                        </mat-form-field> -->

                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button *ngIf="isShowAction === true" type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
    <!-- <div class="form-group row">
        <label for="inputNombre" class="col-sm-4 col-form-label" [ngClass]="{ 'text-danger':!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)}">nombre:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputNombre" formControlName="nombre" [maxlength]="100">
            <small class="form-text text-danger" *ngIf="!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)">
                    Ingrese nombre de negocio
                </small>
        </div>
    </div> -->
</form>