<form [formGroup]="fileForm" enctype="multipart/form-data" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <!-- <input type="file" accept=".xlsx" formControlName="file" (change)="onFileChange($event.target.files)" /> -->
        <div class="custom-file">
            <input type="file" accept=".xlsx" formControlName="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Seleccione un archivo</label>
        </div>
        <!-- Div info archivo -->
        <div *ngIf="file" class="table-responsive-sm">
            <table class="table">
                <!-- <caption>Infromación de archivo</caption> -->
                <thead>
                    <tr>
                        <th scope="col">Nombre de archivo</th>
                        <th scope="col">Tamaño</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ fileName }}</td>
                        <td>{{ fileSize | number }} MB </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Div barra de progreso -->
        <div *ngIf="file" class="text-center">


            <div class="progress my-3" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }" [ngClass]="{'bg-info': cargaCorrecta===false, 'bg-success': cargaCorrecta===true }">
                    {{ progress| number }}%
                </div>
            </div>
            <span class="badge-light badge" [ngClass]="{'text-dark': cargaCorrecta===false, 'text-success': cargaCorrecta===true }">{{messagesProgress}}</span>
        </div>

        <!-- Div errores -->
        <div *ngIf="existeError===true" class="card mb-3 border border-danger rounded border-3">
            <div class="card-body text-center">
                <h3 class="text-danger font-weight-bold">
                    <i class="fas fa-bell"></i> Se han detectado errores al cargar archivo {{fileName}}</h3>

                <div class="table-responsive-sm">
                    <table class="table table-borderless">
                        <tbody>
                            <ng-container *ngIf="existeErrorGeneral === true; then showGeneral; else showDuplicate">
                            </ng-container>
                            <ng-template #showGeneral>
                                <tr *ngFor=" let e of errores">
                                    <td>
                                        <p class="badge bg-light-danger card-text h4" *ngFor=" let e of errores">
                                            <i class="fas fa-exclamation"></i> {{e}}
                                        </p>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #showDuplicate>
                                <tr *ngIf="existeDuplicadosClientes === true">
                                    <td>
                                        <p class="badge bg-light-danger card-text h4">
                                            <i class="fas fa-exclamation"></i> Clientes Duplicados
                                            <button type="button" class="btn btn-sm link-danger" (click)="descargarClientesDuplicados()">
                                                <i class="ft-download"></i>
                                                Descargar clientes duplicados
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                                <tr *ngIf="existeDuplicadosVentas === true">
                                    <td>
                                        <p class="badge bg-light-danger card-text h4">
                                            <i class="fas fa-exclamation"></i> Ventas Duplicadas
                                            <button type="button" class="btn btn-sm link-danger" (click)="descargarVentasDuplicadas()">
                                                <i class="ft-download"></i>
                                                Descargar ventas duplicadas
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="cargaCorrecta===true" class="card mb-3 border border-success rounded border-3">
            <div class="card-body text-center">
                <h3 class="text-success font-weight-bold">
                    <i class="fas fa-check-circle"></i> El archivo {{fileName}} se ha cargado con éxito!</h3>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <!-- <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> SUBIR INFORMACIÓN</button> -->
        <button type="button" class="btn btn-sm btn-info mr-1" matTooltip="Se activará al cargar archivo" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" [disabled]="!file || cargaCorrecta===true" (click)="onUploadClick()"><i class="ft-upload"></i> CARGAR ARCHIVO</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
</form>