<!-- <div class="row"> -->
<div class="row text-center">
    <div class="offset-4 col-4 bg-info">
        <!-- <h4 class="text-white">Dashboard en construcción</h4> -->
        <!-- <img src="../../../assets/images/in-build-page.png" class="card-img-top" alt="En breve disponible"> -->
    </div>
</div>
<div class="card bg-light-info text-info row container-welcome">
    <!-- <img class="card-img" src="../../../assets/images/welcome.jpg" alt="Card image"> -->
    <div class="vertical-center">
        <div class="card-title">
            <h1 class="tittle-welcome text-dark">Bienvenido {{usuarioNombreLogueado}}</h1>
        </div>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p> -->
        <div *ngIf="negocioKeySesion !==null && negocioValueSesion !==null" class="bg-light-info offset-3 col-6 border border-ligth-info rounded border-3 text-center">
            <h2 class="subtittle-welcome tex-info">Empiece a gestionar su negocio</h2>
            <h3 class="text-primary subtittle-welcome">{{negocioValueSesion |uppercase}}</h3>
        </div>
        <div *ngIf="negocioKeySesion === null && negocioValueSesion === null" class="offset-3 col-6 card bg-light-warning">
            <h3 class="text-warning text-center">
                <i class="fas fa-exclamation-triangle">
                </i> Debe seleccionar un negocio para acceder a todas las funciones del sistema.
            </h3>
            <button class="btn btn-primary" (click)="actionSeleccionarNegocio"><i class="fas fa-mouse-pointer"></i> Seleccionar Negocio</button>
        </div>
    </div>
</div>
<!-- </div> -->