.tittle-welcome {
    font-size: 8vh;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3vh;
    line-height: 8vh;
}

.subtittle-welcome {
    font-size: 3vh;
    font-weight: 900;
    text-align: center;
    line-height: 3vh;
}

.container-welcome {
    background-image: url('../../../assets/images/welcome.jpg');
    text-align: center;
    background-size: cover;
    height: 100vh;
    // width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}