<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <div class="row">
            <div class="card col-6">
                <div class="card-header">
                    <h4 class="text-info text-center">Información Cuenta</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="col-12">
                        <mat-label>Número de cuenta</mat-label>
                        <input matInput formControlName="numero" [maxlength]="40" required placeholder="Ingrese identificador de cuenta, tarjeta, etc.">
                        <mat-error *ngIf="hasError( 'numero', 'required')">
                            Número de cuenta es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'numero', 'maxlength')">
                            Nombre debe tener máximo 40 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12" appearance="fill">
                        <mat-label>Forma de pago</mat-label>
                        <mat-select [formControl]="tipoFPagoField" (selectionChange)="showSelectTipoCuenta()" required>
                            <mat-option>Ninguno</mat-option>
                            <mat-option *ngFor="let tipo of listaTipoFPago" [value]="tipo.id">
                                {{tipo.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tipoFPagoField.hasError('required')">Seleccione una forma de pago</mat-error>
                    </mat-form-field>
                    <div *ngIf="isCuentaBancaria === true">
                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>Tipo Cuenta</mat-label>
                            <mat-select [formControl]="tipoCuentaField">
                                <mat-option>Ninguno</mat-option>
                                <mat-option *ngFor="let tipo of listaTiposCuenta" [value]="tipo.id">
                                    {{tipo.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="tipoCuentaField.hasError('required')">Seleccione un tipo de cuenta</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="col-12">
                        <mat-label>Saldo de cuenta</mat-label>
                        <input type="number" matInput formControlName="saldo" placeholder="Ingrese saldo de cuenta">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Entidad Bancaria</mat-label>
                        <input matInput formControlName="entidad_bancaria" [maxlength]="200" required placeholder="Ingrese entidad bancaria">
                        <mat-error *ngIf="hasError( 'entidad_bancaria', 'required')">
                            Entidad Bancaria es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'entidad_bancaria', 'maxlength')">
                            Entidad Bancaria debe tener máximo 200 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="card col-6">
                <div class="card-header">
                    <h4 class="text-info text-center">Información Titular</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="col-12">
                        <mat-label>Nombres de titular</mat-label>
                        <input matInput formControlName="nombres_titular" [maxlength]="100" required placeholder="Ingrese nombres de titular de la cuenta">
                        <mat-error *ngIf="hasError( 'nombres_titular', 'required')">
                            Nombres de titular es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'nombres_titular', 'maxlength')">
                            Nombres de titular debe tener máximo 100 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Apellidos de titular</mat-label>
                        <input matInput formControlName="apellidos_titular" [maxlength]="100" required placeholder="Ingrese apellidos de titular de la cuenta">
                        <mat-error *ngIf="hasError( 'apellidos_titular', 'required')">
                            Apellidos de titular es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'apellidos_titular', 'maxlength')">
                            Apellidos de titular debe tener máximo 100 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Identificación titular</mat-label>
                        <input matInput formControlName="ci_titular" [maxlength]="15" required placeholder="Ingrese identificación de titular de la cuenta">
                        <mat-error *ngIf="hasError( 'ci_titular', 'required')">
                            Identificación de titular es requerido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'ci_titular', 'maxlength')">
                            Identificación de titular debe tener máximo 15 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Teléfono de titular</mat-label>
                        <input matInput formControlName="telefono_titular" [maxlength]="15" placeholder="Ingrese telfono de titular de la cuenta">
                        <mat-error *ngIf="hasError( 'telefono_titular', 'maxlength')">
                            Teléfono de titular debe tener máximo 15 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Email de titular</mat-label>
                        <input matInput formControlName="email_titular" [maxlength]="45" placeholder="Ingrese email de titular de la cuenta">
                        <mat-error *ngIf="hasError( 'email_titular', 'maxlength')">
                            Email de titular debe tener máximo 15 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
    <!-- <div class="form-group row">
        <label for="inputNombre" class="col-sm-4 col-form-label" [ngClass]="{ 'text-danger':!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)}">nombre:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputNombre" formControlName="nombre" [maxlength]="100">
            <small class="form-text text-danger" *ngIf="!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)">
                    Ingrese nombre de negocio
                </small>
        </div>
    </div> -->
</form>