.tablaDatos {
    width: 100%;
}

.tablaDatos th {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

.tablaDatos td {
    padding: 10px;
}

@media (max-width: 800px) {
    .tablaDatos th {
        font-size: 11px;
        font-weight: 600;
        padding: 10px;
        text-align: left;
    }
    .tablaDatos td {
        font-size: 12px;
        padding: 10px;
        text-align: left;
    }
}