<ng-container *ngIf="_PERMISO.isAuthorized.state === true; then showHtmlPage; else showHtmlError">
</ng-container>
<ng-template #showHtmlPage>
    <div class="pages">
        <div class="container-fluid">
            <div class="card">
                <div class="row card-header card-header-info">
                    <h3 class="card-title text-info"><i class="fas fa-briefcase" aria-hidden="true"></i> ADMINISTRACIÓN DE FORMAS DE PAGO</h3>
                </div>
                <div *ngIf="negocioKeySesion !== null && negocioValueSesion !==null" class="card-body">
                    <div class="btn-group">
                        <button *ngIf="_PERMISO.isAuthCreate.state === true" type="button" class="btn btn-sm btn-info mb-3 mr-1" (click)="actionCreate('c')"><i class="fa fa-plus" aria-hidden="true"></i> NUEVA FORMA DE PAGO</button>
                    </div>

                    <div class="table-responsive mat-elevation-z8">
                        <table class="tablaDatos" mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element">
                                    <p *ngIf="element.estado === 'A'" class="text-success">
                                        <i class="fa fa-check fa-xs" aria-hidden="true"></i> {{ listaEstados[0] }}
                                    </p>
                                    <p *ngIf="element.estado === 'I'" class="text-warning">
                                        <i class="fas fa-ban"></i> {{ listaEstados[1] }}
                                    </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="ocultarColumnaAcciones()"> Acciones </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="ocultarColumnaAcciones()">

                                    <ng-container *ngIf="_PERMISO.isAuthDesactivate.state === true; then showHtmlStatus">
                                    </ng-container>
                                    <ng-template #showHtmlStatus>
                                        <button *ngIf="element.estado === 'I'" mat-raised-button type="button" matTooltip="Activar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                                <i class="fas fa-toggle-off"></i>
                                        </button>
                                        <button *ngIf="element.estado === 'A'" mat-raised-button type="button" matTooltip="Desactivar" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                                <i class="fas fa-toggle-on"></i>
                                        </button>
                                    </ng-template>
                                    <button *ngIf="_PERMISO.isAuthUpdate.state === true" mat-raised-button type="button" matTooltip="Editar Forma Pago" [matTooltipPosition]="'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="actionCreate('u',element);">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div *ngIf="dataSource.data.length === 0" class="gen-mensaje-no-data-tabla">No existen formas de pago.</div>
                    <div *ngIf="dataSource.filteredData.length === 0 && dataSource.data.length !== 0" class="gen-mensaje-no-data-tabla">No existen formas de pagoS</div>
                </div>
                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #showHtmlError>
    <app-error-access></app-error-access>
</ng-template>