/* You can add global styles to this file, and also import other style files */


/* @import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css'; */


/* 
@import './node_modules/@swimlane/ngx-datatable/index.css';
@import './node_modules/@swimlane/ngx-datatable/themes/material.css';
@import './node_modules/@swimlane/ngx-datatable/assets/icons.css'; */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.action-table {
    padding: 0rem 0rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    line-height: 0.5;
    border-radius: 1rem;
    background-color: transparent;
    border-color: transparent;
    margin: 0.1rem 0.5px;
}

.icon-table {
    font-size: 13px;
    font-weight: bold;
}

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9990 !important;
}

.swal2-container {
    z-index: 10000 !important;
}

.app-sidebar .logo .logo-text {
    font-size: 1.3rem !important;
    padding: 5px;
    text-align: center !important;
    font-weight: 900 !important;
    margin-bottom: 1.3rem !important;
}

.app-sidebar .logo .logo-text .icon-logo {
    text-align: left !important;
    margin: 5rem !important;
    padding: 1rem !important;
}

.app-sidebar {
    white-space: pre-wrap;
}

.mat-ocultar-columna {
    display: none;
}


/* ::ng-deep.mat-dialog-container {
    width: 30%;
}

@media (max-width: 500px) {
     ::ng-deep.mat-dialog-container {
        width: 90%;
    }
} */