<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" [maxlength]="45" required placeholder="Ingrese nombre de forma de pago">
            <mat-error *ngIf="hasError( 'nombre', 'required')">
                Nombre de negocio es requerido
            </mat-error>
            <mat-error *ngIf="hasError( 'nombre', 'maxlength')">
                Nombre debe tener máximo 45 caracteres
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" [maxlength]="150" placeholder="Ingrese descripción de forma de pago">
            <mat-error *ngIf="hasError( 'descripcion', 'maxlength')">
                Descripción debe tener máximo 150 caracteres
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
    <!-- <div class="form-group row">
        <label for="inputNombre" class="col-sm-4 col-form-label" [ngClass]="{ 'text-danger':!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)}">nombre:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputNombre" formControlName="nombre" [maxlength]="100">
            <small class="form-text text-danger" *ngIf="!form[ 'controls'].nombre.valid && (form[ 'controls'].nombre.dirty || form[ 'controls'].nombre.touched || submitted)">
                    Ingrese nombre de negocio
                </small>
        </div>
    </div> -->
</form>