.searchCard {
    border: 2px solid #A169FF;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.75rem;
}

.input-full-width {
    width: 100%;
}

.tablaDatos {
    width: 100%;
}

.tablaDatos th {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
}

.tablaDatos td {
    padding: 5px;
}

@media (max-width: 800px) {
    .tablaDatos th {
        font-size: 11px;
        font-weight: 600;
        padding: 10px;
        text-align: left;
    }
    .tablaDatos td {
        font-size: 12px;
        padding: 10px;
        text-align: left;
    }
}