<ng-container *ngIf="_PERMISO.isAuthorized.state === true; then showHtmlPage; else showHtmlError">
</ng-container>
<ng-template #showHtmlPage>
    <div class="pages">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-info">
                    <h3 class="card-title"><i class="fas fa-user-alt" aria-hidden="true"></i> ADMINISTRACIÓN DE CLIENTES </h3>
                </div>
                <div *ngIf="negocioKeySesion!== null && negocioValueSesion!==null">
                    <div class="card-body">
                        <div class="btn-group">
                            <button type="button" *ngIf="_PERMISO.isAuthCreate.state === true" class="btn btn-sm btn-info mb-1 mr-1" (click)="actionCreate('c')"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO CLIENTE</button>
                            <button type="button" *ngIf="_PERMISO.isAuthMass.state === true" class="btn btn-sm btn-warning mb-1 mr-1" (click)="actionCargaMasiva()"><i class="ft-upload"></i> CARGA MASIVA </button>
                            <ng-container *ngIf="_PERMISO.isAuthSearch.state === true; then showHtmlSearch">
                            </ng-container>
                            <ng-template #showHtmlSearch>
                                <button *ngIf="isBusquedaActiva === false" type="button" class="btn btn-sm btn-primary mb-1 mr-1" (click)="actionViewFormSearch()"><i class="fas fa-search"></i> BUSCAR CLIENTES</button>
                                <button *ngIf="isBusquedaActiva === true" type="button" class="btn btn-sm btn btn-outline-primary mb-1 mr-1" (click)=" actionHideFormSearch()"><i class="fas fa-ban"></i> FINALIZAR BÚSQUEDA</button>
                            </ng-template>
                        </div>
                    </div>

                    <!-- Formulario de búsqueda -->
                    <div *ngIf="isBusquedaActiva===true" class="searchCard card-body bg-light-primary">
                        <form [formGroup]="searchForm" (keydown.enter)="$event.preventDefault()" class="row">
                            <div class="col-12 row">
                                <div class="col-12">
                                    <p>
                                        <small class="text-primary mb-1">Seleccione un criterio de búsqueda</small>
                                    </p>
                                    <p>
                                        <mat-radio-group (change)="actionRadioChange($event)" aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="campoBusqueda">
                                            <mat-radio-button class="example-radio-button mr-1" *ngFor="let c of listaCamposBusqueda" [value]="c.id">
                                                {{c.value}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <p>
                                        <ng-container *ngIf="isVisiblePais === false; then otherField; else countryField">
                                        </ng-container>
                                        <ng-template #otherField>
                                            <mat-form-field class="input-full-width">
                                                <mat-label>{{ criterioBusqueda +' a buscar'}}</mat-label>
                                                <input matInput formControlName="valorBusqueda" maxlength="100" required placeholder="Ingrese valor {{ 'para '+criterioBusqueda}}">
                                                <mat-error *ngIf="hasError( 'valorBusqueda', 'required')">
                                                    Ingrese un valor {{ 'para ' + criterioBusqueda }}
                                                </mat-error>
                                                <mat-error *ngIf="hasError( 'valorBusqueda', 'maxlength')">
                                                    {{criterioBusqueda}} debe tener máximo 100 caracteres
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-template>
                                        <ng-template #countryField>
                                            <mat-form-field class="input-full-width">
                                                <mat-label>País</mat-label>
                                                <input type="text" placeholder="Seleccione el país a buscar" matInput [formControl]="paisField" [matAutocomplete]="paisRef" (blur)="blurPais()" [maxlength]="100" required>
                                                <mat-autocomplete (closed)="closedPais()" #paisRef="matAutocomplete" [displayWith]="displayPais">
                                                    <mat-option *ngFor="let pais of filteredPaises | async" [value]="pais">
                                                        {{pais.nombre}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="hasError( 'pais_id', 'required')">
                                                    No ha seleccionado un país
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-template>
                                    </p>
                                    <p>
                                        <button type="button" class="btn btn-sm btn-primary mb-2 mr-1" (click)="actionSearch()"><i class="fas fa-search"></i> BUSCAR</button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Tabla de datos -->
                    <div class="card-body">
                        <div class="table-responsive mat-elevation-z8" *ngIf="_PERMISO.isAuthRead.state === true">
                            <table class="tablaDatos" mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef> USUARIO CRÉDITOS </th>
                                    <td mat-cell *matCellDef="let element"> {{element.usuario_credito}} </td>
                                </ng-container>
                                <ng-container matColumnDef="telefono">
                                    <th mat-header-cell *matHeaderCellDef> TELÉFONO </th>
                                    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nombres">
                                    <th mat-header-cell *matHeaderCellDef> NOMBRES </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                                </ng-container>
                                <ng-container matColumnDef="apellidos">
                                    <th mat-header-cell *matHeaderCellDef> APELLIDOS </th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                                </ng-container>
                                <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let element">
                                        <p *ngIf="element.estado==='A'" class="text-success">
                                            <i class="fa fa-check fa-xs" aria-hidden="true"></i> {{ listaEstados[0] }}
                                        </p>
                                        <p *ngIf="element.estado==='I'" class="text-warning">
                                            <i class="fas fa-ban"></i> {{ listaEstados[1] }}
                                        </p>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="pais">
                                    <th mat-header-cell *matHeaderCellDef> PAÍS </th>
                                    <td mat-cell *matCellDef="let element"> {{element.pais_nombre}} </td>
                                </ng-container>
                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef [ngClass]="ocultarColumnaAcciones()"> Acciones </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="ocultarColumnaAcciones()">
                                        <ng-container *ngIf="_PERMISO.isAuthDesactivate.state === true; then showHtmlStatus">
                                        </ng-container>
                                        <ng-template #showHtmlStatus>
                                            <button *ngIf="element.estado==='I'" mat-raised-button type="button" matTooltip="Activar" [matTooltipPosition]=" 'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                                    <i class="fas fa-toggle-off"></i>
                                            </button>
                                            <button *ngIf="element.estado==='A'" mat-raised-button type="button" matTooltip="Desactivar" [matTooltipPosition]=" 'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element)">
                                                    <i class="fas fa-toggle-on"></i>
                                            </button>
                                        </ng-template>
                                        <button *ngIf="_PERMISO.isAuthUpdate.state === true" mat-raised-button type="button" matTooltip="Editar Pais" [matTooltipPosition]=" 'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="actionCreate( 'u',element);">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                              </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <div *ngIf="dataSource.data.length===0" class="gen-mensaje-no-data-tabla">No existen clientes.</div>
                        <div *ngIf="dataSource.filteredData.length===0 && dataSource.data.length !==0" class="gen-mensaje-no-data-tabla">No existen clientes.</div>
                    </div>
                    <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                </div>
                <div *ngIf="negocioKeySesion===null && negocioValueSesion===null" class="card-body bg-light-warning">
                    <h3 class="text-warning text-center">
                        <i class="fas fa-exclamation-triangle">
                    </i> Debe seleccionar un negocio para utilizar las funciones de gestión de clientes
                    </h3>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #showHtmlError>
    <app-error-access></app-error-access>
</ng-template>