<form [formGroup]="mainForm" (keydown.enter)="$event.preventDefault()">
    <h2 class="text-info text-center font-weight-bold">{{title}}</h2>
    <mat-dialog-content>
        <div class="row">
            <div class="card col-6">
                <div class="card-header">
                    <h4 class="text-info text-center">Información Personal</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="col-12">
                        <mat-label>Usuario Créditos</mat-label>
                        <input matInput formControlName="usuario_credito" maxlength="45" maxlength="45" required placeholder="Ingrese usuario del sistema créditos">
                        <mat-error *ngIf="hasError( 'usuario_credito', 'required')">
                            Ingrese un valor para Usuario Créditos
                        </mat-error>
                        <mat-error *ngIf="hasError( 'usuario_credito', 'maxlength')">
                            Nombres no debe tener mas de 45 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombres" maxlength="100" placeholder="Ingrese nombres de cliente">
                        <!-- <mat-error *ngIf="hasError( 'nombres', 'required')">
                            Ingrese un valor para nombres
                        </mat-error> -->
                        <mat-error *ngIf="hasError( 'nombres', 'maxlength')">
                            Nombres no debe tener mas de 100 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="apellidos" maxlength="100" placeholder="Ingrese apellidos de cliente">
                        <!-- <mat-error *ngIf="hasError( 'apellidos', 'required')">
                            Ingrese un valor para apellidos
                        </mat-error> -->
                        <mat-error *ngIf="hasError( 'apellidos', 'maxlength')">
                            Apellidos no debe tener mas de 100 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Nro de Identificación</mat-label>
                        <input matInput formControlName="ci" maxlength="45" placeholder="Ingrese nro de cedula, pasaporte, etc">
                        <mat-error *ngIf="hasError( 'ci', 'maxlength')">
                            Nro de Identificación no debe tener mas de 45 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor="let z of listaGeneros" [value]="z.value">{{ z.nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="card col-6">
                <div class="card-header">
                    <h4 class="text-info text-center">Información de Contacto</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="col-12">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono" maxlength="15" required placeholder="Ingrese nro de contacto">
                        <mat-error *ngIf="hasError( 'telefono', 'required')">
                            Ingrese un valor para teléfono
                        </mat-error>
                        <mat-error *ngIf="hasError( 'telefono', 'maxlength')">
                            Teléfono no debe tener mas de 15 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>País</mat-label>
                        <input type="text" placeholder="Seleccione un país" matInput [formControl]="paisField" [matAutocomplete]="paisRef" (blur)="blurPais()" [maxlength]="100" required>
                        <mat-autocomplete (closed)="closedPais()" #paisRef="matAutocomplete" [displayWith]="displayPais">
                            <mat-option *ngFor="let pais of filteredPaises | async" [value]="pais">
                                {{pais.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="hasError( 'pais_id', 'required')">
                            No ha seleccionado un país
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Ciudad</mat-label>
                        <input matInput formControlName="ciudad" maxlength="150" placeholder="Ingrese Ciudad del cliente">
                        <mat-error *ngIf="hasError( 'ciudad', 'maxlength')">
                            Ciudad no debe tener mas de 150 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="direccion" maxlength="200" placeholder="Ingrese dirección domicialiaria de cliente">
                        <mat-error *ngIf="hasError( 'direccion', 'maxlength')">
                            Dirección no debe tener mas de 200 caracteres
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" maxlength="45" placeholder="Ingrese email">
                        <mat-error *ngIf="hasError( 'email', 'email')">
                            Email no válido
                        </mat-error>
                        <mat-error *ngIf="hasError( 'email', 'maxlength')">
                            Email no debe tener mas de 45 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <span *ngIf="formValid === false" class="badge badge-danger mr-1">Verifique los datos ingresados</span>
        <button type="button" class="btn btn-sm btn-success mr-1" (click)="guardar()"><i class="fa fa-save" aria-hidden="true"></i> GUARDAR</button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="salir()">
                <i class="fa fa-times" aria-hidden="true"></i>  SALIR</button>
    </mat-dialog-actions>
    <!-- <div class="col-sm-12 text-center">
        <div class="btn-group">

        </div>
    </div> -->
</form>