<ng-container *ngIf="_PERMISO.isAuthorized.state === true; then showHtmlPage; else showHtmlError">
</ng-container>
<ng-template #showHtmlPage>
    <div class="pages">
        <div class="container-fluid">
            <div class="card">
                <div class="row card-header card-header-info">
                    <h3 class="card-title text-info"><i class="fas fa-user-tie" aria-hidden="true"></i> ADMINISTRACIÓN DE VENDEDORES</h3>
                </div>
                <div *ngIf="negocioKeySesion !== null && negocioValueSesion !==null" class="card-body">
                    <div class="btn-group">
                        <button *ngIf="_PERMISO.isAuthCreate.state === true" type="button" class="btn btn-sm btn-info mb-3 mr-1" (click)="actionCreate('c',tipoVendor)"><i class="fa fa-plus" aria-hidden="true"></i> REGISTRAR VENDEDOR</button>
                    </div>

                    <div class="table-responsive mat-elevation-z8" *ngIf="_PERMISO.isAuthRead.state === true">
                        <table class="tablaDatos" mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="cedula">
                                <th mat-header-cell *matHeaderCellDef> C.I. </th>
                                <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nombres">
                                <th mat-header-cell *matHeaderCellDef> Nombres</th>
                                <td mat-cell *matCellDef="let element">{{element.nombres}}</td>
                            </ng-container>
                            <ng-container matColumnDef="apellidos">
                                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                                <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element">
                                    <p [ngClass]="{'text-success': element.estado==='A', 'text-warning': element.estado==='I', 'text-primary': element.estado==='P'}">
                                        <i class="fas fa" [ngClass]="{'fa-check fa-xs':element.estado==='A','fa-ban':element.estado==='I', 'fa-stopwatch':element.estado==='P' }"></i> {{ getEstado(element.estado) }}
                                    </p>
                                    <!-- <p *ngIf=" element.estado==='A'" class="text-success">
                                    <i class="fas fa-stopwatch"></i>
                                    <i class="fa fa-check fa-xs" aria-hidden="true"></i> {{ listaEstados[0] }}
                                </p>
                                <p *ngIf="element.estado==='I'" class="text-warning">
                                    <i class="fas fa-ban"></i> {{ listaEstados[1] }}
                                </p> -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="genero">
                                <th mat-header-cell *matHeaderCellDef> Género</th>
                                <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
                            </ng-container>
                            <ng-container matColumnDef="telefono">
                                <th mat-header-cell *matHeaderCellDef> Teléfono</th>
                                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email</th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="direccion">
                                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                                <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nameUsuario">
                                <th mat-header-cell *matHeaderCellDef>Nombre Usuario</th>
                                <td mat-cell *matCellDef="let element"> {{element.nameUsuario}} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="ocultarColumnaAcciones()"> Acciones </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="ocultarColumnaAcciones()">
                                    <ng-container *ngIf="_PERMISO.isAuthDesactivate.state === true; then showHtmlStatus">
                                    </ng-container>
                                    <ng-template #showHtmlStatus>
                                        <button *ngIf="element.estado==='I'" mat-raised-button type="button" matTooltip="Activar" [matTooltipPosition]=" 'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element, tipoVendor)">
                                                <i class="fas fa-toggle-off"></i>
                                        </button>
                                        <button *ngIf="element.estado==='A'" mat-raised-button type="button" matTooltip="Desactivar" [matTooltipPosition]=" 'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="cambiarEstado(element, tipoVendor)">
                                                <i class="fas fa-toggle-on"></i>
                                        </button>
                                    </ng-template>
                                    <button *ngIf="_PERMISO.isAuthUpdate.state === true" mat-raised-button type="button" matTooltip="Editar Vendedor" [matTooltipPosition]=" 'above'" matTooltipClass="tooltip-table" class="action-table btn-just-icon text-info" (click)="actionCreate('u',tipoVendor, element);">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                          </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div *ngIf="dataSource.data.length === 0" class="gen-mensaje-no-data-tabla ">No existen vendedores.</div>
                    <div *ngIf="dataSource.filteredData.length === 0 && dataSource.data.length !== 0" class="gen-mensaje-no-data-tabla">No existen vendedores.</div>
                </div>
                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #showHtmlError>
    <app-error-access></app-error-access>
</ng-template>