<div>
    <h2 class="text-info text-center font-weight-bold">
        Seleccionar Negocio
        <!-- <i class="fas fa-mouse-pointer"></i> Seleccionar Negocio -->
    </h2>
    <div class="text-center">
        <div *ngIf="listaVacia === true">
            <h1 class="text-center text-warning">
                No existen negocios.
            </h1>
            <h3>
                Por favor cree un nuevo negocio en la sección de Gestión de Negocios.
            </h3>
            <button type="button" class="btn btn-info" (click)="navigateListaNegocios()">
                Ir a Gestión de negocios <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="" *ngIf="listaVacia === false">
            <div class=" btn-group-vertical" role="group" aria-label="Basic example">
                <button *ngFor="let n of listaNegocios" type="button" class="btn btn-outline-primary btn-lg mb-1" (click)="accionSelectNegocio(n);">
                            <i class="fas fa-hand-pointer"></i>
                            {{n.nombre | uppercase}}
                            <span class="badge" [ngClass]="{'bg-secondary': n.estado==='I', 'bg-success': n.estado==='A'}" >
                                {{n.estado=== "A"? listaEstados[0]: listaEstados[1]}}
                            </span>
                        </button>
            </div>
            <p class="mt-2">
                <button type="button" class="btn btn-sm btn-link text-info" (click)="navigateListaNegocios()">
                Ir a Gestión de negocios <i class="fas fa-arrow-right"></i>
                </button>
            </p>
        </div>
    </div>
</div>